<section class="view">
    <div class="container-fluid">
        {{#if empresas}}
        <div class="row mt-5">
        {{#each empresas}}
        
            <div class="col-md-3 mt-5">
                <div class="card mt-2 text-center animated fadeIn slow">
                    <h4 class="card-title mt-2">{{emp_razon_social}}</h4>
                    <p class="card-text">RUC: {{emp_ruc}}</p>
                    <a class="btn btn-default mx-3">Gestionar</a>
                    <a class="btn btn-danger mx-5">Eliminar</a>
                </div>
            </div>
        
        {{/each}}
        </div>
        {{else}}
        <div class="card mt-5">
            <div class="card-body text-center">
                
            </div>
            <blockquote class="blockquote bq-default">
                <p class="bq-title">Importante:</p>
                <p class=" text-muted mt-3">No hay empresas registradas para administrar</p>
                <a class="btn btn-default mt-1" data-toggle="modal" data-target="#modalEmpresa">Añadir</a>
            </blockquote>
        </div>
        {{/if}}
    </div>
</section>

<div class="modal fade right" id="modalEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <div class="modal-dialog modal-full-height modal-right" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Añadir Empresa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="dashboard/company">
                    <div class="form-group">
                        <label for="razon_social" class="text-muted">Razon Social</label>
                        <input type="text" name="razon_social" class="form-control mb-4">
                    </div>
                    <div class="form-group">
                        <label for="ruc" class="text-muted">RUC</label>
                        <input type="text" name="ruc" class="form-control mb-4">
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-default">Listo</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>