<footer class="static-bottom page-footer font-small bg-default darken-3">

        <div class="container">

            <div class="row">

                <div class="col-md-12 py-4">
                    <div class="mb-5 flex-center">

                        <a class="fb-ic" href="https://facebook.com" target="_blank">
                            <i class="fab fa-facebook-f fa-md white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="gplus-ic" href="https://google.com">
                            <i class="fab fa-google-plus-g fa-md white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="ghb-ic" href="https://github.com/CarlosM0905">
                            <i class="fab fa-github fa-md white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="footer-copyright text-center py-3">© 2019 Copyright - UNMSM
        </div>


    </footer>
    <!-- Footer -->